<p id="notice"><%= notice %></p>

<p>
  <strong>Index:</strong>
  <%= @position.index %>
</p>

<p>
  <strong>Show:</strong>
  <%= @position.show %>
</p>

<p>
  <strong>New:</strong>
  <%= @position.new %>
</p>

<p>
  <strong>Create:</strong>
  <%= @position.create %>
</p>

<p>
  <strong>Edit:</strong>
  <%= @position.edit %>
</p>

<p>
  <strong>Update:</strong>
  <%= @position.update %>
</p>

<p>
  <strong>Destroy:</strong>
  <%= @position.destroy %>
</p>

<%= link_to 'Edit', edit_position_path(@position) %> |
<%= link_to 'Back', positions_path %>
