<% unless @cartitems.blank? %>
<%# not_mobile %>
<div class="col-sm-9 hidden-xs">
  <table class="col-sm-10 col-sm-offset-1">
    <% @cartitems.each_with_index do |cartitem, j| %>
      <tr>
        <!--画像-->
        <td class="col-sm-3">
          <%= image_tag(cartitem.item.mainImage.url, id: "#{j}-#{cartitem.id}_img",size: '110x110') %>
        </td>

        <!--商品名-->
        <td class="col-sm-3 text-left">
          <%= cartitem.item.itemName %>
        </td>

        <!--値段-->
        <td class="col-sm-2 text-center">
          <%= dispYen(cartitem.item.price) %>
        </td>

        <!--数量-->
        <td class="text-right col-sm-1 text-center">
          <div>
            <%= dispSelectBox(cartitem.quantity, j) %>
          </div><br>
          <%= link_to '削除', cartitem_path(cartitem), class: 'btn btn-default btn-sm',method: :delete, data: { disable_with: '変更中'} %>
        </td>

        <!--小計-->
        <td class="text-right col-sm-3 text-center">
            <% subtotal_price = ((cartitem.item.price) * (cartitem.quantity)).to_s %>
            <%= dispYen(subtotal_price) %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
<%# mobile %>
<div class="visible-xs">
  <table>
    <% @cartitems.each_with_index do |cartitem, j| %>
    <tr>
      <td>
        <%# 画像 %>
        <div class="col-xs-4 row-eq-height">
          <%= image_tag(cartitem.item.mainImage.url, id: "#{j}-#{cartitem.id}_img", class: 'img-responsive',size: '110x110') %>
        </div>
        <div class="col-xs-8">
          <div class="row">
            <div class="col-xs-12">
            <%# 商品名 %>
            <%= cartitem.item.itemName.concat(20) %><br>
            <%# 値段 %>
            <%= dispYen(cartitem.item.price) %>
            </div>
            <div class="col-xs-6">
              <%# 数量 %>
              <%= dispSelectBox(cartitem.quantity, j) %>
            </div>
            <div class="col-xs-6">
              <%# 小計 %>
              <% subtotal_price = ((cartitem.item.price) * (cartitem.quantity)).to_s %>
              <%= dispYen(subtotal_price) %>
            </div>
            <div class="col-xs-12 text-right">
              <%# 削除ボタン %>
              <%= link_to '削除', cartitem_path(cartitem), class: 'btn btn-default btn-sm',method: :delete, data: { disable_with: '変更中'} %>
            </div>

          </div>
        </div>
      </td>
    </tr>
    <% end %>
  </table>
</div>

<% else %>
<%# not_mobile %>
<div id="no-item_in_cart" class="hidden-xs col-sm-6 col-sm-offset-3">
  <div class="text-center">
    <p>カートにはまだ商品がありません</p>
  </div>
  <%= link_to '買い物を続ける', root_path, class: 'btn btn-default btn-sm' %>
</div>

<%# mobile %>
<div class="no-item_in_cart col-xs-12 visible-xs">
  <div class="text-center">
  <p>カートにはまだ商品がありません</p>
  </div>
  <div class="text-center">
    <%= link_to '買い物を続ける', root_path, class: 'btn btn-default btn-sm' %>
  </div>
</div>
<% end %>
