<div class="visible-xs">
  <div id="tel">
    <div class="col-xs-5 row-eq-height text-right">電話番号：</div>
    <div class="col-xs-7 row-eq-height"><%= address.tel %></div>
  </div>
  <div class="col-xs-5 row-eq-height text-right">宛名：</div>
  <div class="col-xs-7 row-eq-height"><%= address.user_name %></div><br>
  <div class="col-xs-5 row-eq-height text-right">住所：</div>
  <div class="col-xs-7 row-eq-height text-left">
    〒<%= address.postalcode %><br>
    <%= address.prefecture.name %>
    <%= address.city %>
    <%= address.street %>
    <%= address.others %>
  </div>
</div>
<div class="hidden-xs">
  <div class="col-md-4 text-right">電話番号：</div>
  <div class="col-md-8"><%= address.tel %></div>
  <div class="col-md-4 text-right">宛名：</div>
  <div class="col-md-8"><%= address.user_name %>(<%= address.name_kana %>)</div><br>
  <div class="col-md-4 text-right">住所：</div>
  <div class="col-md-8 text-left">
    〒<%= address.postalcode %><br>
    <%= address.prefecture.name %>
    <%= address.city %>
    <%= address.street %>
    <%= address.others %>
  </div>
</div>

<br>
<br>
