<%= stylesheet_link_tag "jquery.rateyo.min.css", :media => "all" %>
<div class="text-center">
  <h3>レビュー投稿画面</h3>
</div>
<%= render partial: 'partials/validation_error', locals: {instance: @review} %>
<div id="review-content">
<div class="review-img col-xs-8 col-xs-offset-2 col-md-4">
  <%= image_tag @review.item.mainImage.url, class: 'review-img center-block img-responsive img-rounded' %><br>
</div>

<div class="col-xs-12 col-md-7">
  <h3><%= @review.item.itemName %></h3>
  <%= form_for @review, url: reviews_path, method: :post do |f| %>
  <div class="field center-block" id="rateYo" data-star="<%= @review.score %>"></div>
  <div class="field">
    <p>
      <%= f.label :commnet, 'コメント' %><br />
      <%= f.text_area :comment, autofocus: true, row: 4, class: 'form-control' %>
    </p>
  </div>
  <%= f.hidden_field :item_id, value: @review.item_id %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.hidden_field :score, value: @review.score %><br />
  <%# binding.pry %>

  <div class="actions text-center">
    <%= f.submit '送信', class: 'btn btn-default btn-md'%>
  </div>
  <% end %>
</div>
<div class="visible-md col-md-1"></div>


<%= javascript_include_tag 'jquery.rateyo.min.js', 'data-turbolinks-track': 'true' %>
<script>
$(function(){
  // set #rateYo size
  $ww = window.innerWidth;
  $responsive_prefix_type = $ww <= 767 ? "xs" : "not_xs" ;
  if ($responsive_prefix_type == "xs") {
    // mobile
    // console.log("mobile");
    $pbox = Math.floor((($ww / 12 * 10) / 10)) * 10;
    $star_width = String($pbox / 5 - 16) + "px";
    $space = "20px";
  } else {
    // not_mobile
    // console.log("not_mobile");
    $star_width = "50px";
    $space = "40px";
  };
  console.log($("#rateYo").rating);
  $score = Number("<%= @review.score %>")
  console.log($score)
  if($score == 0){
    $initRate = 0
    document.getElementById("review_score").value = 0
  }else{
    $initRate = $score
    document.getElementById("review_score").value = $initRate
  }

  $('#rateYo').rateYo({
  starWidth: $star_width,
  rating: $initRate,
  fullStar: true,
  spacing: $space,
  })

  $('#rateYo').rateYo().on("rateyo.set", function(e, data){
  // console.log(data.rating)
  document.getElementById("review_score").value = data.rating
  })
});
</script>
