<h1>BEGIN app/controllers/public/settings/credits/_credit_form.html.erb</h1>

<%= form_tag(credits_path, method: :post, datakey: ENV['payjp_test_public_key']) do |f| %>
  <% if @credit.errors.any? %>
    <div id="error_explanation">
      <% @credit.errors.full_messages.each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>
  <% end %>

  <%= f.text_field :, value: current_user.id %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
  </div>



  <div class="actions">
    <%= f.submit @submit %>
  </div>
<% end %>

