<div id="delivery" class="row">
  <div class="col-sm-9 text-center">
    <ul>
      <%# 宛名 %>
      <li>
        <span class="first col-xs-4 col-sm-4 row-eq-height text-right">宛名:</span>
        <span class="next col-xs-8  col-sm-8 row-eq-height text-left"><%= order.address.user_name %>様</span>
      </li>
      <%# 電話番号 %>
      <li>
        <span class="first col-xs-4 col-sm-4 row-eq-height text-right">TEL:</span>
        <span class="next col-xs-8 row-eq-height text-left"><%= order.address.tel %></span>
      </li>
      <%# 住所 %>
      <li>
        <span class="first col-xs-4 col-sm-4 row-eq-height text-right">送付先:</span>
        <span class="next col-xs-8 col-sm-8 row-eq-height text-left">
          〒&nbsp;<%= order.address.postalcode %><br class="visible-xs">
          <%= order.address.prefecture.name %><%= order.address.city %>
          <%= order.address.set_address_details %>
        </span>
      </li>
    </ul>
  </div>
  <div id="addressButton" class="col-sm-3 text-center">
    <%= link_to '変更', public_orders_addresses_index_path, class: 'btn btn-default' %>
  </div>
</div>
