<!-- <h1>Public::Orders#new</h1>
<p>Find me in app/views/public/orders/new.html.erb</p> -->
<h3 class="text-center">注文内容の確認・変更</h3>
<hr>
<div class="col-md-10 col-md-offset-1">
  <div class="col-md-8">
    <!-- <h3 class="text-center">注文内容の確認・変更</h3> -->
    <div id="delivery-and-credential" class="row">
      <%= render partial: 'address', locals: {order: @order} %>
        <%# link_to '変更', public_orders_addresses_index_path %>
      <%= render partial: 'credit', locals: {order: @order} %>
    </div>

    <%= render partial: 'cartitems' %>
  </div>
  <div id="confirm-orders" class="col-md-offset-1 col-md-3">
    <%= form_for @order, url: orders_path, method: :post do |f| %>
      <%= f.hidden_field :user_id, value: current_user.id %>
      <%= f.hidden_field :total_price, value: @total_price %>
      <%= f.hidden_field :address_id, value: @order.address_id %>      <%= f.submit '注文を確定する', data: { disable_with: '送信中' }, class: 'btn btn-warning btm-md' %>
    <% end %>

    <div>
    <strong>
        商品の小計： <%= number_to_currency(@total_price, :format => "%u%n", :precision => 0, :unit =>"¥") %></strong>
    <div class="text-center">
      <%= link_to '買い物を続ける', root_path, id: 'keep-shopping', class: 'btn btn-default btm-md' %>
    </div>
    </div>
  </div>
</div>
