<h1>Public::Orders#new</h1>
<p>Find me in app/views/public/orders/new.html.erb</p>
<div class="col-md-10 col-md-offset-1">
<h3>注文内容の確認・変更</h3>
<div class="col-md-8">
  <div id="delivery-and-credential" class="row">
    <div id="delivery" class="col-md-6">
      <div>配送先</div>
    </div>
    <div id="credential" class="col-md-6">
      <div>クレジットカード</div>
    </div>
  </div>
  <h4>カートの商品</h4>
  <div id="cart-items" class="row">
    <table class="col-md-12">
      <% @cartitems.each do |cartitem| %>
        <tr>
          <!--画像-->
          <td class="col-md-3"><%= image_tag(cartitem.item.mainImage.url, size: '110x110') %></td>
          <!--品番-->
          <!-- <td><%# cartitem.item.partNumber %></td> -->
          <!--商品名-->
          <td class="col-md-3 text-left"><%= cartitem.item.itemName %></td>
          <!--値段-->
          <td class="col-md-2 text-right"><%= dispYen(cartitem.item.price) %></td>
          <!--数量-->
          <td class="text-right col-md-1 text-right"><%= cartitem.quantity %></td>
          <!--小計-->
          <td class="text-right col-md-3 text-center">
              <% subtotal_price = ((cartitem.item.price) * (cartitem.quantity)).to_s %>
              <%= dispYen(subtotal_price) %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
  <div id="confirm-orders" class="col-md-offset-1 col-md-3">
    <p>注文の確定</p>
  </div>
</div>
