<div>BEGIN app/views/public/items/show.html.erb</div>

<div class="col-md-2">
  <%= render partial: 'layouts/public/sidebar', locals: {genres: @genres} %>
</div>
<div class="col-md-10">

<!--   <p>
    ジャンルID:
    <%# @item.genre_id %>
  </p>

  <p>
    サブジャンルID<br>
    <%# @item.subgenre_id %>
  </p>

  <p>
    商品ID<br>
    <%# @item.id %>
  </p> -->
<% item = @item %>

<div class="col-md-5 text-center pull-left">
  <%= image_tag item.mainImage.url %>
</div>
<div class="col-md-4 pull-left">
  <h3><%= item.itemName %></h3>
  <p>商品番号： <%= item.itemCodeNo %></p>
  <p>
    <h3 class="text-center"><%= dispYen(item.price) %><span>税込</span></h3>
  </p>
  <br>
  <p>ジャンル：  <%= item.genre.name %></p>
  <p>サブジャンル：  <%= item.subgenre.name %></p>
  <p>
    <b>商品詳細：</b><br>
    <%= item.description %>
  </p>
</div>
<div id="cart" class="col-md-3" style="border: 1px solid gray; border-radius: 5px; min-height: 200px;">
    <% if user_signed_in? %>
      <%= form_tag(add_item_cartitems_path, method: :post) do %>
        <%= hidden_field_tag :item_id, @item.id %>
        <%= hidden_field_tag :user_id, current_user.id %>
        <!-- <div class="text-center"> -->
          個数：<%= select_tag :quantity, options_for_select(5.times.map{|i| [i+1, i+1]}), class: 'form-control' %>
          <%= submit_tag 'カートに入れる', data: { disable_with: '送信中' }, class: 'btn btn-primary btm-md' %>
        <!-- </div> -->
      <% end %>
    <% else %>
      <p>ログインしてください</p>
      <%= link_to 'ログインする', new_user_session_path, class: "btn btn-primary btn-md" %>
    <% end %>
</div>
<div class="clearfix"></div>

</div>

<div>END app/views/public/items/show.html.erb</div>
