<!DOCTYPE html>
<html>
<head>
  <title>としひろのしょっぴんぐさいと</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'true' %>
  <%= stylesheet_link_tag    controller.controller_path, media: 'all', 'data-turbolinks-track': 'true' %>
  <%= include_gon %>
  <%# Gon::Base.render_data %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'true' %>
  <%= javascript_include_tag controller.controller_path, 'data-turbolinks-track': 'true' %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag() %>
</head>
<body>

<%= render 'layouts/judgement_header' %>

<div class="text-center">現在の階層:　<%= @path %>、</div>
<div class="text-center">css用:　<%= css_development %>, #<%= controller.action_name %></div>
<div class="text-center">
  session[1]:　<%= session[:first_controller] %>　　　session[2]:　<%= session[:second_controller] %>
</div>
<div class="text-center">現在地のパス:　<%= jump_path %></div>

<div class="container-fluid">

      <main  id="<%= for_css %>">
        <div id="<%= action_name %>">
          <% flash.each do |key, value| %>
            <% key = "success" if key == "notice" %>
            <% key = "error" if key == "alert" %>
            <%= content_tag :div, value, class: "alert alert-#{key}" %>
          <% end %>

          <%= yield %>

        </div>
      </main>
</div>

<%= render 'layouts/judgement_footer' %>

</body>
</html>
