<!DOCTYPE html>
<html>
<head>
  <title>Shuukatu</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%# @path %>


<% if @path.start_with?('public') %>
  <%= render 'layouts/public/public' %>
<% end %>
<%= yield %>

</body>
</html>
